
  <div class="onex">
    <div class="logo">
      <img src="assets/images/yes.png" alt="Not loaded">
    </div>
  <div class="main">
    <div class="left-container">
    <div class="ar " >
       
      1. Register yourself by entering the name , phone number and email and give the password
      which you can remember .
      <br>
      2. After registering you should go back and then you log in with correct email and password
      and then which will lead you to the next page where you are to give the required data.
      <br>
      3.You should give the requird data and those fields which are required else the submit button
      will not be abled so therefore the required fields are to be filled.
      
  </div>
</div>
<div class="right-container">
  <div class="forms">
    <form [formGroup]="emailForm" (ngSubmit)="resetPassword()">
      <div class="form-group mt-2">
        <label for="email">Email:</label>
        <input class="form-control inputs" type="email" id="email" formControlName="email" placeholder="Enter your email"
          [class.is-invalid]="emailForm.get('email')?.invalid && emailForm.get('email')?.touched"
          required>
        <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="mt-2">
          <span class="text-danger">Invalid email format</span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btns mt-2" type="submit" [disabled]="emailForm.invalid">Reset Password</button>
      </div>
      <div *ngIf="emailSent" class="mt-2 success-message">
        <span class="text-success">Email sent successfully please check your email !</span>
      </div>
    </form>
    </div>
  </div>
</div>
