.main {
  display: flex;
  gap: 20px;
}

.left-container {
  flex: 1;
}

.right-container {
  flex: 1;
  margin-top: 83px;
}
  
  
    .logo img{
      width: 24rem;
      margin-left: 4.7rem;
      margin-top: 2.5rem;
    
    }
  
  .ar{
    
    border-right: 1px solid black;
    padding: 30px;
    
    width: 35rem;
    margin-left: 8.3rem;
  margin-top: 4.7rem;
  background: transparent;
  font-size: 1.1rem;
  line-height: 1.3;
  }
  
  
  .forms{
    margin-right: 16rem;
    margin-left: 0.6rem;
    margin-top: 4.3rem;
  }
  .forms input{
    
    border-radius: 1px;
  }
  .inputs {
    box-shadow: none;
  }
  
  .inputs:focus {
    box-shadow: none;
    border-color: #1080f0;
  }

  .btns{
    border-radius: 1px;
    background-color: #1d4581fc !important;
    border: 1px solid #1d4581fc ;
    color: white;
    
  }
  .btns:hover{
    background-color: #292986;
    border: 1px solid #292986;
  }
  .success-message{
    
    border-radius: 1px;
    background-color: transparent;
    padding-left: 17px;
    border-bottom: 1px solid blue !important;
    padding-bottom: 6px;
  
  }
  .text-success{
    color: black !important;
  }
  @media screen and (max-width: 660px) {
    .main {
      display: block;
    }
    .ar{
      margin-top: 9%;
      border: 1px solid black;
      padding: 30px;
      font-weight: 400;
      width: 28rem;
      margin-left: 1.3rem;
      margin-bottom: 9%
    }
    .logo img{
      width: 24rem;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
     
    }
    .forms{
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .forms input{
      padding-right: 3rem;
      border-radius: 0;
      
    }
    .btns{
      margin-bottom: 15px;
    }
  }
