.dialog-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #092562f7;
    padding: 25px;
    height: 57%;
    border-radius: 5px;
    color: white;
    transition: transform 0.5s ease-in-out;
    /* overflow: auto;  */
    

  }
  
  .dialog-popup:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }
  .header{
    
    color: red;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1.1rem;
  }
  
  .alert-icon {
    width: 73px;
    margin-right: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
    margin-left: 5px;
  }
  
  
  
  .parent-container {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .custom-btn {
    /* Your custom styles here */
    outline: 1px solid white;
    border-radius: 0;

  }
  .noteof{
    font-size: 1.2rem;
  font-weight: 800;
  }
  .linked{
    border: none;
    outline: none;
    border-radius: 0;
  }
  /* Media query for screens with a maximum width of 660px */
  @media screen and (max-width: 660px) {
    .dialog-popup {
      width: 85%;
      height: 80%;
    }
  }
  