<div class="dialog-popup">
    <div >
        <span><img src="assets/images/alertone.png" alt="" class="alert-icon"></span> <span class="header">Attention !</span>
      </div>
    <p>
        
        The Embassy of Afghanistan in Pakistan is delighted to announce the commencement of its official online passport system. This online system enables you to submit the necessary documentation and finish the passport application process online. Once you have completed the process, you will be given a specific appointment time to visit the embassy in Islamabad, Pakistan for further procedures and the 
        ‌documentation only to sumbit at <a class="linked" href="http://localhost:4200/"> http://localhost:4200/ </a>
        <br>
        <span class="noteof">NOTE: </span>The payment for the passport application is not online and only 100 applicants can submit their documentation daily. Kindly do not provide payment to anyone claiming to offer early registration. 
</p>
<!-- this is used to bring the button to right side  -->
    <div class="parent-container">
        <button class="custom-btn" (click)="closeDialog()"> Continue...</button>
    </div>
</div>