<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="onex">
  <div class="logo">
    <img src="assets/images/yes.png" alt="Not loaded">
  </div>
  <div class="main">
    <!-- [class.fade-out]="isLoading" -->
    <div class="left-container">
      <div class="ar ">
        Register yourself by entering the name, phone number, and email and give the password
        which you can remember.
        After registering, you should go back and then log in with the correct email and password,
        which will lead you to the next page where you are to give the required data.
        <br>
        You should give the required data and fill in the fields that are required. Otherwise, the submit button
        will not be enabled, so the required fields are to be filled.
        <br>
        After registering, you should go back and then log in with the correct email and password,
        which will lead you to the next page where you are to give the required data.
      </div>
    </div>
    <div class="right-container">
      <div class="forms">
        <!-- Signup form -->
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="form-group mt-2">
            <label for="name">Name:</label>
            <div class="input-group">
              <input class="form-control inputs" type="text" id="name" formControlName="name"
                placeholder="Enter your name" required>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="email">Email:</label>
            <input class="form-control inputs" type="email" id="email" formControlName="email"
              placeholder="Enter your email"
              [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched &&
              !signupForm.get('email')?.value" required>
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched &&
              signupForm.get('email')?.value" class="mt-2">
              <span class="text-danger">Invalid email format</span>
            </div>
          </div>
          <div class="form-group yesbts">
            <button class="btn  btns mt-2" type="submit" [disabled]="signupForm.invalid">Send</button>
          </div>
        </form>

        <div *ngIf="successMessage" class="btnsof mt-4">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="btnof mt-4">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
</div>
