
.main {
  
  margin: 0 190px;
  margin-top: 20px;
}
.divfirst {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); /* Two columns with equal width */
  gap: 30px;
}

.headers {
  grid-column: 1 / span 2; /* Spanning across both columns */
  font-size: 1.1rem;
  line-height: 1.3 ;
  background-color: #b7828263;
  
}
.headers1
  {
    grid-column: 1 / span 2; /* Spanning across both columns */
    font-size: 1.1rem;
    line-height: 1.3 ;
    background-color: #1d4581fc;
    padding: 15px;
    color: white;
    margin-top: 30px;
  }


.divfirst2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.language{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  margin-top: 1%;
  padding: 30px;
  
  transition: box-shadow 0.9s, background-color 0.9s;
  background: transparent;
  font-size: 1.1rem;
  line-height: 1.3;
}
.lastbtn{
  text-align: right;
  margin-top: 1.4rem;
}

.line {
  border-top: 1px solid #ccc;
  color: red;
}
.successed{

  color: #1080f0;
}
.custom-alert{
  border-radius: 1px;
  border: 1px solid #dc3545;
  background-color: transparent;
}
.nameclass{
  margin-top: 8px;
}

.form-group label {
  
  margin-left: 4px 
}

.compulsory {
  color: red;
}




.lang {
  
  position: absolute;
  right: 4.1rem;
  top: 3.4rem;
}
.langs{
  margin-bottom: 2.5rem;
  padding-right: 25px;
  padding-left: 25px;
}
.btn1{
  margin-right: 6px;
  border-radius: 2px;
  transition: transform 0.4s;
  background-color: #2558a3fc;
  color: white;
}
.btn1:hover {
  transform: scale(1.1);
}
.btn2{
  margin-right: 6px;
  padding-right: 21px;
  padding-left: 21px;
  border-radius: 2px;
  transition: transform 0.4s;
  background-color: #2558a3fc;
  color: white;
}
.btn2:hover {
  transform: scale(1.1);
}
.btn3{
  margin-right: 6px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 2px;
  transition: transform 0.4s;
  background-color: #2558a3fc;
  color: white;
  
}
.btn3:hover {
  transform: scale(1.1);
}
.logo img{
  width: 24rem;
  margin-left: 4.7rem;
  margin-top: 2.5rem;

}
.div2{
  margin-top: 8px;
}

.checkbox1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7px;
}
.forms input,
.forms select {
  
  border-radius: 1px;
}
.successed{
  margin-top: -3px;
  margin-left: -12px;
  color: #1080f0;

}
.inputs.is-invalid {
  border: 1px solid red;
}
.custom-alert{
  border-radius: 1px;
  background-color: transparent
}
.custom-alerts{
  border-radius: 1px;
  background-color: transparent
}
.inputs:focus {
  box-shadow: none;
  border-color: #1080f0;
}

.inputs {
  box-shadow: none;
  border-radius: 1px;
}

.theforms{
  display: flex;
}

/* this is the record one */
.oney{
  margin-top: -20px;
}

/* .custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 11px;
    margin-bottom: 100px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid black;
}

.custom-table thead {
  background-color: black;
  color: white;
  text-align: center;
} */

.theadmin{
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  margin-top: 15px;
  padding: 5px;

}
nav{
  margin-top: 50px;
}
.headone{
    text-align: center;

    background: transparent;
    color: black;
    padding: 9px;
}

/* Apply border radius 0 to the first page link (Back) */
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Apply border radius 0 to the last page link (Next) */
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.custom-table thead tr th {
  background-color: blue !important;
  color: white !important;
  white-space: nowrap; 
  overflow: hidden; 
  font-weight: 400 ;
  text-overflow: ellipsis; 
  border-left: 1px solid black;
}

.custom-table tbody tr td {
  border-right: 1px solid black;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-table thead th {
  text-align: center;
}


.update-button {
    display: inline-block;
    
    background-color: #4f4fd7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 22px;
    margin-right: -21px;
  }
  
  .update-button:hover {
    background-color: #23527c;
  }
  .delete-button {
    display: inline-block;
    
    background-color: #4f4fd7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-left: 22px;
    margin-right: -21px;
  }
  
  .delete-button:hover {
    background-color: #23527c;
  }
  
  .delete-icon {
    margin-right: 5px;
  }

  .onex{
    padding-bottom: 7%;
  }
  
.find{
  margin-left: 4px;
  padding-top: 20px;
}
.find input {
  padding-right: 250px;
  margin-right: 7px;
  border: 1px solid black;
  
}

.find input:focus {
  outline: none;
}


.find button{
  border-radius: 1px;
  transition: transform 0.4s;
  margin-bottom: 5px;
}
.find button:hover{
  transform: scale(1.1);
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.messageOfSearch{
  display: inline-block;
  border-bottom: 1px solid red;
  padding: 10px;
  margin-top: 12px;
  margin-left: 72px;
}
.superadminbtns{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.superadminbtns1{
 margin-right: 10px;
 border-radius: 0;
}
.superadminbtns2{
margin-right: 10px;
border-radius: 0;
}
.superadminbtns3{
margin-right: 10px;
border-radius: 0;
}
@media screen and (max-width: 660px) {
  .main {
   
    margin: 0 10px;
    margin-top: 20px
  }
  .headers {
  grid-column: 1
  }
  .headers1 {
    grid-column: 1
    }
  .divfirst{
    
    grid-template-columns: 1fr;
    gap: 7px;
  }
  .divfirst2{
    grid-template-columns: 1fr 1fr;
    gap: 7px;
      
  }
  .logo img {
    width: 24rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
  .language{
    width: 95%;
    
    margin-top: 19%;
    
  }
  
  .lang {
    
    position: absolute;
    right: 7.1rem;
    top: 10.4rem;
  }
  .langs{
    margin-bottom: 2.5rem;
    padding-right: 25px;
    padding-left: 25px;
  }
  .btn1{
    margin-right: 6px;
    border-radius: 2px;
    transition: transform 0.4s;
  }
  .btn1:hover {
    transform: scale(1.1);
  }
  .btn2{
    margin-right: 6px;
    padding-right: 21px;
    padding-left: 21px;
    border-radius: 2px;
    transition: transform 0.4s;
  }
  .btn2:hover {
    transform: scale(1.1);
  }
  .btn3{
    margin-right: 6px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 2px;
    transition: transform 0.4s;
    
  }
  .btn3:hover {
    transform: scale(1.1);
  }
  .div2{
    margin-top: 8px;
  }
}
