.yes{
    padding: 50px 90px 50px 90px;
    background-color:#80808024;

    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
  
}
.theadmin{
    margin-left: 200px;
    margin-right: 200px;
    border: 4px solid black;
    margin-top: 60px;

}
.headone{
    text-align: center;
    text-align: center;
    background: black;
    color: white;
    padding: 22px
}
